.outerbox{
  /*  width: 200px;
    height: 200px;
    padding: 20px;
    position: relative ;
    border: 2px solid chartreuse;
    background-color: aqua;
}
.innerbox{
    width: 100px;
    height: 100px;
      position: absolute;
    border: 2px solid chocolate;
    background-color: black;
    top: 50px;
    bottom: 50px;*/
}
